.membercard_container {
  position: relative;
  background: #e7e6e6;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-left: 0;
  margin: 0 20px 20px 0;
  width: 350px;
}
.membercard_img_container {
}
.membercard_img {
  height: 120px;
  object-fit: cover;
  width: 120px;
}
.membercard_text_container {
  padding: 0px 20px;
}
.membercard_title {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.membercard_subtitle {
  width: 170px;
  font-size: 14px;
  font-weight: 400;
  font-style: oblique;
  text-transform: capitalize;
}
.membercard_text {
  width: 170px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.membercard_action_component {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
.membercard_icon_container:hover {
  /* background-color: red; */
  cursor: pointer;
  background: #b9b8b8;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.membercard_icon {
  width: 18px;
  margin: 5px;
}
