.add_news_container {
  display: flex;
  justify-content: center;
}
.add_member_component {
  margin: 0 auto;
}
.add_news_input {
  width: 800px;
  /* height: 20px !important; */
  /* margin-bottom: 100px; */
  /* height: 0px !important; */
}
.add_news_textarea {
  width: 800px;
  /* height: 100px !important; */
}

.textareaSize {
  min-height: 80px !important;
}

.add_news_img {
  /* display: flex; */
  /* align-items: center; */

  padding: 20px 50px 0 0;
}
.arrow_left {
  /* display: inline;
  margin-left: 30px;
  background: transparent; */
}
.add_member_title {
  text-align: center;
  font-size: 22px;
}

.action_container {
  display: flex;
  justify-content: space-between;
}
.action_btn {
  width: 130px;
  font-size: 16px;
  font-weight: 400;
}
.cancel_btn {
  background: rgba(0, 0, 0, 0.44) !important;
}
.news_inputs_container {
  margin-bottom: 30px;
}
