.edit_member_container {
  position: absolute;
  top: 150px;
  left: 30%;
}
.edit_member_title {
  margin: 0 auto;
}

.arrow_left {
  /* display: inline;
  margin-left: 30px;
  background: transparent; */
}
.edit_member_title {
  text-align: center;
  font-size: 22px;
}

.action_container {
  display: flex;
  justify-content: space-between;
}
.action_btn {
  width: 130px;
  font-size: 16px;
  font-weight: 400;
}
.cancel_btn {
  background: rgba(0, 0, 0, 0.44) !important;
}
.add_number,
.edit_phone,
.delete_phone,
.add_number_action_icon {
  width: 15px;
  margin: 4px;
  cursor: pointer;
}
.number_actions_container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  padding: 10px 0 0 10px;
}

.number_type_container {
  background-color: #f7f7f7;
  width: 300px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

/* */
.member_image_container {
  position: relative;
  /* width: 50%; */
}

.member_edit_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.member_image_middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.member_image_container:hover .member_edit_image {
  opacity: 0.3;
}

.member_image_container:hover .member_image_middle {
  opacity: 1;
}

.member_edit_text {
  /* background-color: #04aa6d; */
  color: red;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
