/* .add_member_container {
  /* position: absolute;
  top: 150px;
  left: 40%; 
} */
.add_member_component {
  margin: 0 auto;
}

.arrow_left {
  display: inline;
  margin-left: 30px;
  background: transparent;
}
.add_member_title {
  text-align: center;
  font-size: 22px;
}

.action_container {
  display: flex;
  justify-content: space-between;
}
.action_btn {
  width: 130px;
  font-size: 16px;
  font-weight: 400;
}
.cancel_btn {
  background: rgba(0, 0, 0, 0.44) !important;
}
.number_container {
  display: flex;
  justify-content: space-between;
}
/*
.location_item {
   flex: 25%;
  padding: 20px;
}  */
.location_container {
  background: #e7e7e7;
  padding: 15px;
  margin: 15px;
  display: flex;
  border: 1px solid #e7e7e7;
  /* border: 1px solid #000; */
  box-shadow: 0 1px 6px 1px rgb(0 0 0 / 26%);
  justify-content: center;
}
.container_title {
  width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.container_body {
  width: 83%;
}
.red {
  background: #a3d1ff !important;
}
.add_new_org {
  display: flex;
  background-color: white;
  width: 280px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add_new_org:hover {
  background-color: rgba(255, 255, 255, 0.788);
}
