.uploaded_files_container {
  display: flex;
  max-width: 100px;
  flex-wrap: wrap;
  /* border: 1px solid #343333; */
  background-color: #f7f7f7;
  margin-top: 10px;
}

.uploaded_images {
  width: 85px;
  height: 50px;
  object-fit: cover;
  /* margin: 0 5px 0 0; */
  margin: 5px;
}
/* uploaded images hover effect */
.upload_cont {
  position: relative;
}

.uploaded_images {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.upload_cont:hover .uploaded_images {
  opacity: 0.3;
}

.upload_cont:hover .middle {
  opacity: 1;
}

.close {
  height: 15px;
  cursor: pointer;
  margin: 4px;
}

.upload {
  height: 15px;
  cursor: pointer;
  margin: 0 4px 4px 0;
}

.uploaded {
  max-width: 500px;
}
