.add_membercard_container {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  padding: 0 0 15px 0;
}
/* .add_membercard_container:hover {
  background: #b9b8b8;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
} */
.add_membercard_icon {
}
.svg-plus {
  height: 40px;
  stroke: #343333;
}
.add_membercard_text {
}
