.add_newscard_container {
  /* display: flex;
  justify-content: flex-end;
  padding: 0 70px 20px 0; */
  /* padding-bottom: 20px; */
  /* float: right; */
  /* padding-right: 37px; */

  display: flex;
  justify-content: flex-end;
  margin-right: 37px;
  padding: 0 0 15px 0;
}

.add_newscard_container:hover {
  /* background: #b9b8b8;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}
.add_newscard_icon {
}
.add_newscard_text {
}
.svg-plus {
  height: 40px;
  stroke: #343333;
}
